<div class="container">
  <form>
    <fieldset>
      <legend>Filters</legend>

      <label for="title">Title</label>
      <input type="text" name="title" [(ngModel)]="title" (ngModelChange)="filterMovies()" />

      <label for="releaseDate">Release year</label>
      <input
        type="number"
        name="releaseDate"
        [(ngModel)]="releaseDate"
        (ngModelChange)="filterMovies()"
      />
    </fieldset>
  </form>

  @if (movies$ | async; as movies) {
    @for (movie of movies; track movie.id) {
      <app-movie-item
        [movie]="movie"
        appHighlight
        [isFavorite]="favoritesService.isFavorite(movie)()"
        (toggleFavorite)="favoritesService.toggleFavorite(movie)"
      />
    }
  }
</div>
