@use '@angular/material' as mat;

$my-theme: mat.define-theme((
  color: (
    primary: mat.$indigo-palette,
    accent: mat.$pink-palette,
    warn: mat.$red-palette,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

:root {
  @include mat.all-component-themes($my-theme);
}