<div class="theme-switcher">
  <mat-form-field appearance="outline">
    <mat-label>Tema</mat-label>
    <mat-select [value]="selectedTheme" (selectionChange)="changeTheme($event.value)">
      <mat-option value="theme-rose-red">Rose & Red</mat-option>
      <mat-option value="theme-azure-blue">Azure & Blue</mat-option>
      <mat-option value="theme-magenta-violet">Magenta & Violet</mat-option>
      <mat-option value="theme-cyan-orange">Cyan & Orange</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Conteúdo da página -->
<mat-card>
  <mat-card-title>Angular Material</mat-card-title>
  <mat-card-content>
    <button mat-raised-button color="primary">Primária</button>
    <button mat-raised-button color="accent">Acentuada</button>
    <button mat-raised-button color="warn">Alerta</button>
  </mat-card-content>
</mat-card>